* {
	outline: none !important;
}
html {
	height: 100%;
}
body{
	overflow-x: hidden;
}
body.flex {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
h1, .h1{
	font-size: 2rem;
}
.m0 p,.m0{margin:0px !important;}
.pl-0{padding-left: 0px !important;}
.mb-1{margin-bottom: 1em !important;}
.mr-1{margin-right: 1em !important;}
.mb-2{margin-bottom: 2em !important;}
.mb-3{margin-bottom: 3em !important;}
.img-resp img{max-width: 100%; width: 100%}

body.page-member-register form{
	margin:auto;
	max-width: 1050px;
	width: 100%;
}

body.page-enter{
	background: #f0f0f0;
	font-family: 'Merriweather Sans', sans-serif;
	font-size:12px;
	line-height: 18px;
	height: 100vh;
	
}
.btn2.w-100{
	width: 100% !important;
}
body.page-enter .wrap-form-register,
.bg-white-box{
	background:#fff;

	margin:30px auto 40px;
	padding:40px 40px 10px;

	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;

	overflow: hidden;
	padding:40px 15px 10px;
}
body.page-member-register{
	background:#f0f0f0;
}
body.page-member-register #container{
	background: transparent;
}

body.page-member-register #wrap-form{
	background:#fff;

	margin:30px auto 20px;
	padding:25px 25px 10px;

	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;

	overflow: hidden;

}

body.page-enter #wrap-logo,
body.page-enter .wrap-logo{
	display: block;
	text-align: center;
}

body.page-enter #wrap-form,
body.page-enter .wrap-form{
	padding:0px 0px 40px;
	margin-left: 40px;
	margin-right: 40px;
}

body.page-enter input{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:none;
	padding: 13px 35px 13px 13px;
	width:100%;
}
body.page-enter input.input-check{
	width: auto;
}
body.page-enter .wrap-input{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

	border:1px solid #e9ebed;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color:#97a1aa;

	margin-bottom:15px;
	padding-left: 25px;
	position:relative;
	width:100%;
}

body.page-enter .wrap-input .fa-info-circle{
	color:#360237;
	font-size: 12px;
	top:0px;
	left: inherit;
	right: -22px;
	position: absolute;
}

body.page-enter .wrap-input.icon-lock .icon-eye{
	color:#9fa8b1;
	right: 15px;
	position: absolute;
	top:14px;
}

body.page-enter .wrap-input:before {
   font-family: "Font Awesome 5 Free";

   display: inline-block;
   font-weight: 900;

   position: absolute;
	left: 15px;
	top: 12px;
}

body.page-enter .wrap-input.icon-user:before {
	content: "\f007";
}

body.page-enter .wrap-input.icon-briefcase:before {
	content: "\f0b1";
}

body.page-enter .wrap-input.icon-envelope:before {
	content: "\f0e0";
}

body.page-enter .wrap-input.icon-shield:before {
	content: "\f3ed";
}

body.page-enter .wrap-input.icon-lock:before {
	content: "\f023";
}

body.page-enter .wrap-input.icon-eye:before {
	content: "\f06e";
}

body.page-enter .wrap-input.icon-info:before {
	content: "\f05a";
}


.ac{
	text-align: center;
}

body.page-enter  ::-webkit-input-placeholder { /* WebKit browsers */
	color:#97a1aa;
    font-size:14px;
}
body.page-enter :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   	color:#97a1aa;
   	font-size:14px;
   	opacity:  1;
}
body.page-enter  ::-moz-placeholder { /* Mozilla Firefox 19+ */
   	color:#97a1aa;
   	font-size:14px;
   	opacity:  1;
}
body.page-enter :-ms-input-placeholder { /* Internet Explorer 10+ */
   	color:#97a1aa;
   	font-size:14px;
}
body.page-enter .wrap-input-submit{
	margin-top: 50px;
}
body.page-enter .wrap-input-submit input{
	background-color:#0080c0;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color:white;
	display: inline-block;
	font-weight: bold;
	max-width: 138px;
	margin:auto;
	padding:12px 30px;
	width:auto;

	background-image: linear-gradient(rgb(0, 125, 193), rgb(0, 115, 178));
}

body.page-enter .wrap-input-submit input.btn2{
	font-size: 14px;
	line-height: 14px;
	max-width: 100%;
	padding: 18px 30px;
	text-transform: uppercase;
}

body.page-enter .wrap-input-submit input.btn2:hover{
	background: black !important;
	color: white !important;
	cursor: pointer;
}

body.page-enter a{
	color:#299eff;
	text-decoration: none;
}
.btn-blue{
	background:#299eff !important;
}
body.page-enter a:hover{
	text-decoration: underline;
}
.block{
	display:block;
}
body.page-enter img{
	margin:auto !important;
	max-width: 100%;
}
body.page-enter a.privacy{
	margin-top: 32px;
	display: inline-block;
	margin-bottom: 22px;
}
.wrap-checkbox{
	display: flex;
	justify-content: space-between;
}
.wrap-checkbox input[type="checkbox"]{width:auto !important;}
body.page-sign-in #container,
body.page-sign-in .box-form {
	background: white;
	border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    flex-direction: column;
    max-width: 400px;
    padding: 40px 0px 0px;
    box-shadow: rgb(176 176 176 / 12%) 0px 2px 0px 0px;
}
body.page-sign-in .box-form .wrap-form{
	flex: 1;
}
body.page-sign-in .box-form {
	display: flex;
	height: 100%;
	flex-direction: column;
}
body.page-sign-in .box-form h6{
	margin-top: 1rem;
}
body.page-sign-in .wrap-form-register {
	flex-direction: column;
    padding: 40px 0px 0px;
	box-shadow: rgba(176, 176, 176, 0.12) 0px 2px 0px 0px;
}
.page-sign-in input#password-field,
.cl-pass{
	background-color: #fff8c6;
	border-color: #f8e2b4;
}
body.page-sign-in .wrap-input-submit {
    margin-top: 10px;
}
body .wrap-logo-bottom{
	margin-bottom: 35px !important;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	text-align:center !important;
}
body.page-sign-in .wrap-logo-bottom{
	padding-bottom: 22px !important;
	margin-top: 22px;
}

body.page-enter #container {
	background: #fff;
    margin: 30px auto 0px;
    overflow: hidden;
}

.color-blue{
	color:#2299ff;
}

.create-account{
	background: #f7f6f6;
	padding: 20px 15px;
	margin: 10px -10px -10px -10px;
}
.create-account-btn{
	background: #f8f9f9;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 1rem 2rem;
	text-align: center;
	width: 100%;
}

.create-account-btn a.btn{
	align-items: center;
	background: white !important;
	color:#5e5e5e !important;
	display: flex;
	font-size: 16px;
	justify-content: space-between;
	margin:auto;
	margin-bottom: 10px;
	-webkit-box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.3);
	max-width: 240px;
	padding: 8px 13px;
	text-transform: none;
	width: 100%;
}
.create-account-btn a.btn:hover{
	background: white !important;
	color:#5e5e5e !important;
	-webkit-box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.6);
	box-shadow: 5px 5px 6px -5px rgba(0,0,0,0.6);
}
.create-account-btn a span{
	flex:1;
	margin-left: 10px !important;
	text-align: center;
}
.create-account-btn a img{
	margin:initial !important;
}

.create-account-btn .btn{
	background:#f7f6f6;
}

.wrap-form-title h3{
	color:#2a9eff;
	font-size: 14px;
	font-weight: bold;
}
.wrap-form-info h3{
	color:#629c44;
	font-size: 14px;
	font-weight: bold;
}
.box-message{
	margin-top:30px;
}
.box-message,
.box-message a{
	color: #629c44 !important;
	display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}
.btn{
	color:white;
	display:inline-block;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	padding:12px 15px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	text-transform: uppercase;
}
.btn:hover{
	background: black !important;
	color:white !important;
	cursor:pointer !important;
	opacity: 1 !important;
	text-decoration: none !important;
}
.btn-blue{
	background:#299eff !important;
}
.block-note{
	color:#777777;
	font-weight: normal;
	font-size: 10px;
	line-height: 1.5;
	font-family: "Merriweather Sans"," SansSerif";
	margin-bottom: 15px;
	text-align: center;
}
.font-style-italic{font-style: italic;}
.mt-15{margin-top: 15px;}
.asterisk{
	color:;
}


.font10{
	font-size: 10px !important;
	line-height: 1.5;
}
.font11{
	font-size: 11px !important;
	line-height: 1.5;
}
.font12{
	font-size: 12px !important;
	line-height: 1.5;
}
.font14{
	font-size: 14px !important;
	line-height: 1.5;
}
.font15{
	font-size: 15px !important;
	line-height: 1.5;
}
.font16{
	font-size: 16px !important;
	line-height: 1.5;
}
.font18{
	font-size: 18px !important;
	line-height: 1.5;
}
.font20{
	font-size: 20px !important;
	line-height: 1.5;
}
.font22{
	font-size: 22px !important;
	line-height: 1.5;
}
.font24{
	font-size: 24px !important;
	line-height: 1.5;
}
.font26{
	font-size: 26px !important;
	line-height: 1.5;
}
.font28{
	font-size: 28px !important;
	line-height: 1.5;
}
.font30{
	font-size: 30px !important;
	line-height: 1.5;
}
.font36{
	font-size: 36px !important;
	line-height: 1.5;
}
.font40{
	font-size: 40px !important;
	line-height: 1.5;
}
.font50{
	font-size: 50px !important;
	line-height: 1.5;
}
.font60{
	font-size: 60px !important;
	line-height: 1.5;
}

.wrap-form-register{
	max-width: 410px;
	width: 100%;
}

.wrap-bg-ahea{
	height: 100%;
}

.bg-ahea{
	background: url(../images/bg-red.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
}
.bg-ahea #ahea-red-top{
	background: url(../images/bg-red-top-overlay.png) no-repeat;
	background-size: cover;
	background-position: center center;
	height: 9vw;
	width: 100% !important;
}

.bg-ahea #ahea-red-bottom{
	background: url(../images/bg-red-bottom-overlay.png) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 3rem 2rem 2rem;
	height: 35%;
	width: 100% !important;
}

.wrap-ahea-buttons{
	width: 100%;
	max-width: 650px;
	margin: auto;
}

.btn-reg{
	background: #7f1416;
	border-radius: 7px;
	color: white !important;
	padding: 10px 20px;
	width: 100%;
}
.btn-reg:hover{
	background: #000000;
	color: white;
	text-decoration: none !important;
}
.btn-reg .btn-text{
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}
.btn-reg i{
	font-size: 2rem;
}
.color-yellow{
	color: #ffb400 !important;
}
.color-white{
	color: #ffffff !important;
}
.color-black{
	color: #000 !important;
}
h1.headline-ahea{
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin: 0rem 0 3rem;
	text-align: center;
}
h2.sub-headline-ahea{
	color: white;
	font-size: 40px;
	font-weight: bold;
	line-height: 1.5;
	margin-left:2rem;
	margin-right:2rem;
	text-align: center;
}
h2.sub-headline-ahea-middle{
	margin-top: 10%;
}
.ahea-left h1.headline-ahea{
	margin: 40% 0 20% !important;
	max-width: 400px;
}
.bg-ahea h2.first{
	margin: 3rem 0 7rem;
}

.bg-ahea .logo img{
	margin-top: 2rem !important;
}
body.page-sign-in .container-fluid{
	height: 100vw;
	overflow-y: auto;
}

.ahea-right{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ahea-left{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 -15px;
}

body.page-sign-in a.logo-ahea{
	display: block;
	margin-bottom: -13.3rem;
}
body.page-sign-in a.logo-ahea img{
	width: 21vw;
}
body.page-sign-in .wrap-ahea-buttons{
	display: flex;
	justify-content: center;
}

.page-enter.page-welcome-to{
	background: white !important;
}
.page-enter.page-welcome-to .wrap-banner-image img{
    object-fit: cover;
    width: 100%;
    object-position: bottom center;
}

@media(min-width: 1301px){
	.page-enter.page-welcome-to .wrap-banner-image img{
		height: 41vw;
	}
}
@media(max-width: 1300px){
	.page-enter.page-welcome-to .wrap-banner-image img{
		height: 400px;
	}
	.page-enter.page-welcome-to .wrap-banner-image{
		margin-top: -10vw;
	}
}
.text-center{text-align: center;}
.modal .interest-modal {
    bottom: inherit;
    display: block;
    left: inherit;
}
.interest-modal {
    width: 100%;
}
.interest-modal {
    background: white;
    border: 1px solid rgb(232, 232, 232);
    bottom: 35px;
    font-size: 14px;
    left: -10px;
    line-height: 1.5;
    overflow: hidden;
    padding: 15px;
    position: relative;
}
.modalareainterest .interest-modal {
    background: rgba(129,140,147,0.9);
    border: none;
    color: white;
}
.modalareainterest .modal-body {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.modalareainterest .modal-header{
	background: #f1f3f7;
	border-radius: inherit !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	color:black;
	padding: 0.5rem 1rem;
}
.modalareainterest .modal-content {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    overflow: hidden;
}
.toltip-close3 {
    position: absolute;
    top: 10px;
    right: 10px;
}
.toltip-close3 a{
	font-size: 1.2rem;
}
#termsModal .modal-body .interest-modal, #privacyModal .modal-body .interest-modal {
    max-height: 550px;
    overflow-y: auto;
}
.text-terms-privacy h2{
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 1rem !important;
	margin-top: 1.2rem !important;
}
.text-terms-privacy h3{
	margin-bottom: 1rem !important;
}

body.page-enter .text-terms-privacy a,
body.page-enter .text-terms-privacy a:hover{
	color: white !important;
}
.modal-header .fa-times-circle{
	color: rgba(129,140,147,1) !important;
}
.modal.modalareainterest{
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}
.alert-warning{
	background: white;
	border: 2px solid #ffc400;
}
.alert-warning .icon{
	color: #ffc400;
	font-size: 22px;
	margin-right: 1rem;
}
.alert{
	color: black;
	margin: auto;
	max-width: 1050px;
}
.alert .icon-times{
	color: #b6bbbf;
	font-size: 20px;
}
.page-sign-in-three .box-form .wrap-logo{
	min-height: 115px;
}













@media (min-width: 1501px){
	body.page-ahea h1.headline-ahea{
		max-width: 600px;
	}
	h1.headline-ahea{
		font-size: 60px;
	}
}
@media (max-width: 1500px){
	body.page-ahea .wrap-logo-bottom{
		margin-top: 0px !important;
	}
	body.page-ahea #wrap-form {
	    padding: 16px 0px 20px;
	    margin-left: 20px;
	    margin-right: 20px;
	}
	body.page-ahea .ahea-right h1.headline-ahea{
		font-size: 30px;
		margin: 40px 0 0px;
	}
	body.page-ahea .ahea-left h1.headline-ahea{
		margin-bottom: 4rem;
	}
	h2.sub-headline-ahea{
		font-size: 32px;
	}
	body.page-sign-in .wrap-form-register {
	    flex-direction: column;
    	padding: 20px 0px 0px;
	}
}

@media(max-width: 1300px){
	body.page-sign-in .wrap-ahea-buttons{
		align-items: center;
		flex-direction: column;
	}
	.btn-reg {
	    margin: auto auto 1rem !important;
	    max-width: 300px !important;
	}
}


@media (min-width: 1201px){
	body.page-sign-in .container {
    	max-width: 1250px;
	}

}
@media (max-width: 1200px){
	body.page-ahea h1.headline-ahea{
		font-size: 40px;
		margin: 20px 0 20px;
	}
}
@media(max-width: 991px){
	body{
		height: initial !important;
		min-height: initial !important;
	}
	.bg-ahea #ahea-red-bottom {
	    height: auto !important;
	}
	body.page-sign-in a.logo-ahea img {
	    width: 30vw;
	}
	body.page-sign-in a.logo-ahea {
	    margin-bottom: 0rem;
	}
	.bg-ahea #ahea-red-top {
	    height: 12%;
	}
	.hide-resp{
        display: none !important;
    }
    .d-block-resp{
        display: block !important;
    }
}
@media(max-width: 767px){
	body.page-sign-in .wrap-ahea-buttons {
	    flex-direction: column;
	}
	
	body.page-enter #wrap-form {
	    padding: 16px 40px 30px;
	    margin-left: 0px;
	    margin-right: 0px;
	}
	body.page-enter #container {
	    margin: 30px auto 0px;
	}
	.btn-reg{
		margin-bottom: 2rem;
	}
	.ahea-right{
		padding-top: 2rem;
	}
	body.page-ahea .logo-ahea img {
	    width: 100px;
	}
	.ahea-left h1.headline-ahea {
	    margin: 8% 0 12% !important;
	    max-width: 400px;
	}
	body.page-ahea h1.headline-ahea {
	    font-size: 33px;
	    margin: 65px 0 20px !important;
	}
	body.page-sign-in a.logo-ahea img {
	    width: 45vw;
	}
	body.page-sign-in .container-fluid {
	    height: auto !important;
	    overflow-y: auto;
	}
	#ahea-red-top img{
		width: 250px;
	}
	.bg-ahea #ahea-red-top {
	    height: 15%;
	}
}

