html{
  font-size: 16px;
}
body {
    background: #ffffff;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.mp0 p{margin:0px !important;}

#copyform,
#copyform p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F9F9FA;
    font-size: 12px;
    line-height: 15px;
}
#banner{
  padding: 5rem 0;
}

#headline{
    font-family: 'Roboto', sans-serif;
  color: #ffffff;
    font-size: 2.813rem;
    font-weight: 400;
    line-height: 3.438rem;
    margin-bottom: 1.8rem;
}

#sub-headline{
    font-family: 'Roboto', sans-serif;
  color:#F4F8FA;
  font-size: 1.625rem;
  font-weight: 400;
  line-height:2.188rem;
}
#sub-headline2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
}
#sub-headline3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
}
#subhead2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    line-height: 36px;
    margin-bottom: 20px;
}
.border-radius-50{
    border-radius: 50%;
}
#wrap-logo{
  padding: 20px 0px;
}
#wrap-logo img{
  width: 155px;
  height: auto;
}

#hero-thumb{display: none;}

.clear-both {
    clear: both;
    display: block;
    overflow: hidden;
}

.color-white{
  color:white !important;
}

.section{
  background-size:cover !important;
  background-position: center center !important;
  padding: 7rem 0;
}
header.section{
  background:url(banner-2.jpg) no-repeat;
  padding: 1.5rem 0;
}
#section-copy{
  background:#F4F8FA;
}
#section-three-columns{
  background:url(banner-2.jpg) no-repeat;
}
#section-quote{
  background:url(banner-3.jpg) no-repeat;
}
#section-post{
  background: #D1E2EA;
}
#section-speakers{
    background: #F4F8FA;
}
#section-cta{
  background: url(banner-1.jpg) no-repeat;
}
.row-speakers{
    max-width: 600px;
    margin: 0 auto;
}
#copy2{
    max-width: 586px;
    margin: 0 auto;
    padding-bottom: 30px;
}
#copy3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 35px;
    color: #D1E2EA;
}
#subhead{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 30px;
}
#subhead3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
#headline-speaker{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 30px;
    text-align: center;
}
#copyspeaker1,
#copyspeaker2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333333;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.row-icons{
    margin-top: 30px;
}
.row-icons i{
    color: #3399BB;
}
.fa-2-3x {
    font-size: 2.3em;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
footer{
    background: #101235;
    color: #F4F8FA;
    font-size:12px;
    line-height: 24px;
    padding: 15px 0px
}

.img-resp img{max-width: 100% !important;}
.cta{
    text-align: center;
    margin-top: 40px;
}
.cta a {
    background: #39B !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0;
    border: 0px !important;
    padding: 14px 38px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    text-indent: inherit !important;
    width: inherit !important;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.box-cta{
    max-width: 500px;
    margin: 0 auto;
}
#footer-logo{
    margin-bottom: 25px;
}
#footer-copy,
#footer-copy p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #F4F8FA;
}
#wrap-form{
    max-width: 400px;
    margin: 0 auto !important;
}

@media(min-width: 992px){
  .valign {
    font-size: 0;
  }

  .valign > [class*="col"] {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }

}
@media(max-width: 991px){
  #wrap-form{
      padding-top: 15px;
  }
  main{padding-top: 0px;}
}




/*style form marketo*/
::-webkit-input-placeholder {
    color: #939393 !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
:-moz-placeholder {
    color: #939393 !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
   opacity:  1;
}
::-moz-placeholder {
    color: #939393 !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
   opacity:  1;
}
:-ms-input-placeholder {
    color: #939393 !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
select::-ms-expand {
    display: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include border-radius(0);  // remove border-radius in iOS
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
}

.mktoForm{margin-top: 8px !important;}
.mktoForm form{width:inherit !important;}
.mktoAsterix{float: right !important;margin-left: 5px !important;color:#000 !important;}
.mktoForm .mktoFieldWrap {
    margin-top: 5px !important;
}
.mktoForm label.mktoLabel{
    font-weight: normal !important;
    width: auto !important;
    color:#fff !important;
    margin-bottom: 2px !important;
}
.mktoForm .mktoField{
    border: 1px solid #F9F9FA;
    padding: 5px 13px !important;
    width: 100% !important;
    height: 50px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
    color: #939393;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.mktoForm select.mktoField{height:36px;}

.mktoForm .mktoCheckboxList .mktoField,
.mktoForm .mktoRadioList input[type='radio']{
    width: 15px !important;
}
.mktoForm .mktoRadioList label,
.mktoForm .mktoCheckboxList label{
  color:white !important;
  font-family: 'Roboto', sans-serif !important;
  margin-bottom: 6px !important;
}
.d-block{
    display: block;
}
.m-auto{
    margin: 0 auto;
}
.mktoForm .mktoFormCol { margin-bottom: 3px !important; }
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton{
    background: #39B !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0;
    border: 0px !important;
    padding: 14px 38px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    text-indent: inherit !important;
    width: inherit !important;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.mktoButton{text-indent: 0px !important;}

.mktoForm .mktoButtonWrap{margin: 0px auto !important}
.mktoForm .mktoOffset {display: none !important;}
.mktoForm, .mktoForm *{padding: 0px !important;}
.mktoForm .mktoFormRow .col-md-6,
.mktoForm .mktoFormRow .col-md-12{
    padding-right: 6px !important;
    padding-left: 6px !important;
    padding-bottom: 12px !important;
}
.mktoButtonRow{text-align: center !important;width: 100% !important;}
.mktoForm .mktoFieldWrap, .mktoForm .mktoFormCol {
        width: 100% !important;
    }
.mktoForm .mktoOffset {
    width: 0px !important;
}

@media only screen and (max-width:767px){
    .mktoForm form{width:100% !important;}
    .mktoForm input[type="url"], .mktoForm input[type="text"], .mktoForm input[type="date"], .mktoForm input[type="tel"], .mktoForm input[type="email"], .mktoForm input[type="number"], .mktoForm textarea.mktoField, .mktoForm select.mktoField {
        width: 100% !important;
       /* height: inherit !important;
        line-height: inherit !important;
        font-size: inherit !important;*/
    }

}
